footer {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
}

.icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.icon-list::before {
  content: "";
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--social-github);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--social-youtube);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--social-linkedin);
}
