.navbar-deskop {
  display: none;
}
.contact {
  padding: 1rem;
  background-color: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .navbar-deskop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
  }

  .nav-links {
    display: flex;
  }

  .nav-link {
    padding-right: 5rem;
  }
}
