.image {
  width: 100%;
  height: auto;
  box-shadow: 5px -5px 10px #c8c8c8;
}

#works {
  margin: 6rem 0 3rem;
}

.work-wrap {
  margin: 2rem 0 5rem 0;
}

.work-links {
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: flex-end;
}

.work-link {
  font-size: 14px;
  padding: 0.7rem 1.5rem;
  margin-left: 1rem;
  background-color: var(--color-text);
  transition: all 0.2s ease-in-out;
}

.work-link:hover {
  transform: scale(1.1);
}

.work-link a {
  color: var(--color-bglight);
}

.work {
  padding: 3rem 1rem 0;
  background-color: var(--color-bglight);
}

.dropdown {
  width: 70%;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 10px #c8c8c8;
}

.dropdown-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrap,
.image-home {
  width: 100%;
  box-shadow: 5px -5px 10px #c8c8c8;
}

.image-mob {
  width: 50%;
  height: auto;
  box-shadow: 5px 5px 10px #c8c8c8;
}

.work-wrapimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/* media query  */

@media screen and (min-width: 768px) {
  .image {
    width: 48%;
    height: auto;
  }

  #works {
    margin: 8rem 0;
  }

  .work-wrap {
    margin-bottom: 6rem;
  }

  .work-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .dropdown {
    width: 40%;
    height: fit-content;
    align-self: start;
    margin-bottom: 1.5rem;
  }

  .image-wrap {
    width: 50%;
  }

  .image-mob {
    width: 17%;
    margin-right: 5rem;
  }

  .work-wrapimg {
    margin-bottom: 0;
  }

  .image-home {
    width: 80%;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .dropdown {
    width: 30%;
  }

  .image-mob {
    width: 17%;
    margin-right: 10rem;
  }

  .image-home {
    width: 70%;
  }
}
